In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
# create the sqlite Database
db = sqlite3.connect("JanuaryGroceries.db")

In [3]:
# read CSV into dataframe
df1 = pd.read_csv("Python_Spring2020_Project1.csv")

In [4]:
# convert the pandas dataframe to a sqlite table
df1.to_sql("purchases", db, if_exists="replace")

In [5]:
def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()

'C:\\Users\\Rachel Kynhoff\\Desktop\\PythonSpring2020'

In [6]:
# view dataframe
df1

          Date                                        Description  Amount
0    1/27/2020  JAY C FOODS 087 SELLERSBURG IN               0...   -6.88
1    1/27/2020  CVS/PHARMACY #03962 SELLERSBURG IN           0...  -29.53
2    1/27/2020  ALDI 44034 JEFFERSONVILL IN                  0...  -33.60
3    1/27/2020  KROGER 776 JEFFERSONVILL IN                  0...  -70.45
4    1/23/2020  QuickPay with Zelle payment to Krista Baumgart...  -17.00
5    1/21/2020  KROGER 776 JEFFERSONVILL IN                  0... -165.20
6    1/21/2020  ALDI 44034 JEFFERSONVILL IN                  0...  -45.34
7    1/21/2020  JAY C FOODS 087 SELLERSBURG IN               0...  -26.76
8    1/17/2020  DEBIT CARD PURCHASE   XXXXX6321 KROGER #776   ...  -51.35
9    1/16/2020  POS PURCHASE          POS89868702  0351306 ALD...  -66.23
10   1/13/2020  DEBIT CARD PURCHASE   XXXXX6321 JAY C FOODS #0...   -5.85
11   1/13/2020  DEBIT CARD PURCHASE   XXXXX6321 JAY C FOODS #0...  -19.51
12   1/13/2020  DEBIT CARD PURCHASE   XXXXX6321 MEIJER # 220  ...  -66.30
13   1/13/2020  POS PURCHASE          POS89868702  1194566 ALD...  -35.74
14   1/13/2020  DEBIT CARD PURCHASE   XXXXX6321 RAINBOW BLOSSO...  -26.87
15    1/7/2020  DEBIT CARD PURCHASE   XXXXX6321 ALDI 44034    ...  -73.08
16    1/6/2020  DEBIT CARD PURCHASE   XXXXX6321 JAY C FOODS #0...   -8.08
17    1/3/2020  DEBIT CARD PURCHASE   XXXXX6321 JAY C FOODS #0...  -12.48
18    1/2/2020  RIOT CROSSFIT HTTPSWWW.FACE MA               0...  -20.50
19    1/2/2020  WM SUPERCENTER #1476 CLARKSVILLE IN          1...  -26.99
20    1/2/2020  KROGER 776 JEFFERSONVILL IN                  1... -181.30
21  12/31/2019  KROGER #7 1027 JEFFE JEFFERSONVILL IN        1...  -17.10
22  12/30/2019  SAMSCLUB #8111 LOUISVILLE KY                 1...  -43.40
23  12/30/2019  JAY C FOODS 087 SELLERSBURG IN               1...  -17.25

In [7]:
query = """
SELECT * 
FROM sqlite_master
ORDER BY name;
"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,index,ix_purchases_index,purchases,3,"CREATE INDEX ""ix_purchases_index""ON ""purchases..."
1,table,purchases,purchases,2,"CREATE TABLE ""purchases"" (\n""index"" INTEGER,\n..."

In [9]:
query = """
SELECT * 
FROM purchases;
"""
run_query(query)

,index,Date,Description,Amount
0,0,1/27/2020,JAY C FOODS 087 SELLERSBURG IN 0...,-6.88
1,1,1/27/2020,CVS/PHARMACY #03962 SELLERSBURG IN 0...,-29.53
2,2,1/27/2020,ALDI 44034 JEFFERSONVILL IN 0...,-33.60
3,3,1/27/2020,KROGER 776 JEFFERSONVILL IN 0...,-70.45
4,4,1/23/2020,QuickPay with Zelle payment to Krista Baumgart...,-17.00
5,5,1/21/2020,KROGER 776 JEFFERSONVILL IN 0...,-165.20
6,6,1/21/2020,ALDI 44034 JEFFERSONVILL IN 0...,-45.34
7,7,1/21/2020,JAY C FOODS 087 SELLERSBURG IN 0...,-26.76
8,8,1/17/2020,DEBIT CARD PURCHASE XXXXX6321 KROGER #776 ...,-51.35
9,9,1/16/2020,POS PURCHASE POS89868702 0351306 ALD...,-66.23
10,10,1/13/2020,DEBIT CARD PURCHASE XXXXX6321 JAY C FOODS #0...,-5.85
11,11,1/13/2020,DEBIT CARD PURCHASE XXXXX6321 JAY C FOODS #0...,-19.51
12,12,1/13/2020,DEBIT CARD PURCHASE XXXXX6321 MEIJER # 220 ...,-66.30
13,13,1/13/2020,POS PURCHASE POS89868702 1194566 ALD...,-35.74
14,14,1/13/2020,DEBIT CARD PURCHASE XXXXX6321 RAINBOW BLOSSO...,-26.87
15,15,1/7/2020,DEBIT CARD PURCHASE XXXXX6321 ALDI 44034 ...,-73.08
16,16,1/6/2020,DEBIT CARD PURCHASE XXXXX6321 JAY C FOODS #0...,-8.08
17,17,1/3/2020,DEBIT CARD PURCHASE XXXXX6321 JAY C FOODS #0...,-12.48
18,18,1/2/2020,RIOT CROSSFIT HTTPSWWW.FACE MA 0...,-20.50
19,19,1/2/2020,WM SUPERCENTER #1476 CLARKSVILLE IN 1...,-26.99
20,20,1/2/2020,KROGER 776 JEFFERSONVILL IN 1...,-181.30
21,21,12/31/2019,KROGER #7 1027 JEFFE JEFFERSONVILL IN 1...,-17.10
22,22,12/30/2019,SAMSCLUB #8111 LOUISVILLE KY 1...,-43.40
23,23,12/30/2019,JAY C FOODS 087 SELLERSBURG IN 1...,-17.25