In [5]:
import pandas as pd

In [6]:
df3 = pd.read_csv("Python_Spring2020_Project1.csv", header="infer")

In [7]:
df3.head(10)

        Date                                        Description  Amount
0  1/27/2020  JAY C FOODS 087 SELLERSBURG IN               0...   -6.88
1  1/27/2020  CVS/PHARMACY #03962 SELLERSBURG IN           0...  -29.53
2  1/27/2020  ALDI 44034 JEFFERSONVILL IN                  0...  -33.60
3  1/27/2020  KROGER 776 JEFFERSONVILL IN                  0...  -70.45
4  1/23/2020  QuickPay with Zelle payment to Krista Baumgart...  -17.00
5  1/21/2020  KROGER 776 JEFFERSONVILL IN                  0... -165.20
6  1/21/2020  ALDI 44034 JEFFERSONVILL IN                  0...  -45.34
7  1/21/2020  JAY C FOODS 087 SELLERSBURG IN               0...  -26.76
8  1/17/2020  DEBIT CARD PURCHASE   XXXXX6321 KROGER #776   ...  -51.35
9  1/16/2020  POS PURCHASE          POS89868702  0351306 ALD...  -66.23